#calculator {
	border: 2px solid black;
	max-width: 400px;
}

#display {
	border: 2px solid black;
	display: inline-block;
	width: 90%;
	height: 40px;
	font-size: 30px;
	text-align: right;
	margin: 1%;
}

.number,
.action,
#bequal,
#bclear {
	font-size: 1em;
	border: 2px solid black;
	margin: 5px;
	width: 10%;
	height: 100%;
	display: inline-block;
}
